:root{
    --cor-fundo1: #f8f9fa;
    --cor-fundo2: #2c3e50;
    --white-nav: white;
    --cor-hover:#34495e;
    --cor-hover2: #ffcc00;
    --article--titulo:#004a8d;
}

*{
    margin:0;
    padding:0;    
}

/* Coloca menu e main lado a lado */
.dashboard-container{
    display: flex;
    align-items:stretch; /* garante que as duas colunas tenham a mesma altura */
    flex:1; /* preenche todo o espaço vertical disponivel (vh) */
}

/* o conteúdo principal ocupa o resto da tela a direita*/
main{
    flex:1;
    padding: 30px;
    background-color: var(--cor-fundo1);
    
}

/* Barra lateral de navegaçao*/
nav {
    width: 200px; /* largura fixa da barra lateral */
    background-color:var(--cor-fundo2);/* azul escuro,cor da barra lateral */
    padding: 20px;
    min-height: 100vh; /* garante que a barra lateral ocupe toda a altura da tela */ 

    display:flex;
    flex-direction: column;  /*desfaz a linha horizontal do nav*/  
}

nav ul{
    display: flex;
    flex-direction: column; /* desfaz a linha horizontal da parte 1*/
    gap: 15px; /* Espaçamento entre os itens da lista */
    padding:0; /* remove o preenchimento  padrao da lista*/
    list-style: none; /* remove os marcadores padrao da lista*/
}

nav a {
    color: var(--white-nav);
    text-decoration: none;
    display:block;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

nav a:hover{
    background-color:var(--cor-hover);
    color: var(--cor-hover2);
}

.perfil-usuario {
    display:flex; /* Alinha o avatar e o nome do usuario horizontalmente*/
    align-items: center;/* Centraliza verticalmente o avatar e o nome */
    gap: 10px; /* Espaçamento entre o avatar  o nome */
    color: white;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /*linha sutil separando o perfil do menu */

    margin-top: auto; /* empurra o perfil para o final da barra lateral */
}

.perfil-usuario img {
    width: 40px; /*largura do avatar*/
    border-radius: 50%;/*foto redonda*/
}
.perfil-usuario span {
    color: var(--white-nav);
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article{
    flex:1;
    min-width: 250px;
    background-color: var(--cor-nav);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

article h2{
    color: var(--article--titulo);
    margin-bottom: 10px;
}

article p{
    margin-bottom: 20px;
    color: #555;
}
body{
    background-color: #dfdfdf;
    font-family: 'Courier New', Courier, monospace;
    color: #333333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: #333;
    color: var(--white-nav);
    text-align: center;
    padding: 15px;
    font-size: 14px;

}

.table-responsive{
    background-color: var(--white-nav);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    overflow: hidden;  
}

table{
    width:100%;
    border-collapse: collapse;
}

/*cabeçalho profissional*/
th{
    background-color: var(--cor-fundo2);
    color: #ffffff;
    padding:15px;
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
}

/*celulas de dados*/
td{
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #444;
}
/* efeito zebra e hover*/
tbody tr:nth-child(even){
    background-color: var(--cor-fundo1);
}

tbody tr:hover{
    background-color: #f1f7ff; /* destaque ao passar o mouse */
}

/*barra status*/
.badge{
    padding: 4px 10px;
    border-radius: 20px;
    font: 12px;
    font-weight: bold;
}

.ativo{
    background-color: #d4edda;
    color: #155724;
}

.inativo{
    background-color: #f8f9fa;
    color: #721c24;
}
.btn-icon{
    background: none;
    border: none;
    color: var(--article--titulo);
    cursor: pointer;
    gap: 10px;
    font-size: 16px;
}

.header-content{
    font-size: 16px;
   display:flex;
   flex-direction: row;
   justify-content: space-between; /* Alinha o botão à direita */
}
